<div class="header">
    <div class="header-left-panel">
      <div class="logo-wrap">
        <div class="logo">
          <h2>"YOUR VOTE MATTERS"</h2>
          <h1>Digital Democracy Defenders</h1>
        </div>
      </div>
    </div>
    <div class="header-right-panel">
      <div class="header-right-panel-top">
        <p>Call Us : 0000 0000 
        <p> <a href="#">Mail Us : 2102536@sit.singaporetech.edu.sg</a> 
      </div>
      <div class="menu">
        <ul>
          <li class="marRight20"><a href="{{url_for('index')}}">home</a></li>
          <li class="marRight20"><a href="{{url_for('about')}}">about</a></li>
          <li><a href="{{url_for('login')}}">login</a></li>
          <li class="marRight20"><a href="#">TEST</a></li>
          <li class="marRight20"><a href="#">TEST</a></li>
          <li><a href="#">TEST</a></li>
        </ul>
      </div>
    </div>
</div>