<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% include 'common/head.html' %}
</head>
<body>
  {% include 'common/nav.html' %}
  <div class="panel-wrap">
      <div class="panel-wrapper">
          <div class="confirmation-message">
              <h1>Thank you for your vote!</h1>
              <p>Your vote has been successfully recorded.</p>
          </div>
      </div>
  </div>
<!--- page wrap div end (modify end) -->
  {% include 'common/footer.html' %}
</div>
</body>
</html>
