<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  {% include 'common/head.html' %}
</head>
<body>
  <!--- header div start -->
  {% include 'common/nav.html' %}
  <!--- header div end (Modify start) -->
  <div class="panel-wrap">
    <div class="panel-wrapper">
      <div class="panel marRight30">
        <div class="img">
          <img src="{{url_for('static',filename='images/koala.png')}}" width="250" height="250"/>
          <!--<img src="/static/images/koala.png" width="250" height="250"/>-->
        </div>
        <div class="title">
          <h1>Koala's Party</h1>
        </div>
        <div class="border"></div>
        <div class="content">
          <p>"	Our Lives, Our Jobs, Our Future"</p>
            <!--- <div class="button-link"><a href="#">readmore</a></div> -->
            <button class="button button1 marLeft70"onclick="showConfirmation()">
              <a href="confirmation.html">Vote</a>
          </button>
        </div>
      </div>
      <div class="panel marRight30">
        <div class="img">
          <img src="{{url_for('static',filename='images/bee.png')}}" width="250" height="250"/>
          <!--<img src="/static/images/bee.png" width="250" height="250"/>-->
        </div>
        <div class="title">
          <h1 class="border-bottom">Bee's Party</h1>
        </div>
        <div class="border"></div>
        <div class="content">
          <p>"Make Your Vote Count"<br />
          </p>
        <!--- <div class="button-link"><a href="#">readmore</a></div> -->
        <button class="button button1 marLeft70">
          <a href="confirmation.html">Vote</a>
        </div>
      </div>
      <div class="panel">
        <div class="img">
          <img src="{{url_for('static',filename='images/chick.png')}}" width="250" height="250"/>
          <!--<img src="/static/images/chick.png" width="250" height="250"/>-->
        </div>
        <div class="title">
          <h1 class="border-bottom">Chicken's Party</h1>
        </div>
        <div class="border"></div>
        <div class="content">
          <p>"For Country, For People"</p>
          <!--- <div class="button-link"><a href="#">readmore</a></div> -->
          <button class="button button1 marLeft70">
            <a href="confirmation.html">Vote</a>
        </div>
      </div>
    </div>
  </div>
  <!--- page wrap div end (modify end) -->
  {% include 'common/footer.html' %}
</body>
</html>
